body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background: ghostwhite;
}
/*
@media(min-width: 1000px) {
  .navbar {
    width: 900px;
    height: 40px;
    margin: 20px;
    padding: 30px;
    background: none;
  }
}*/

.navbar ul {
  list-style: none;
}

.navbar ul li {
  float: left;
  width: 120px;
  height: 40px;
  padding: 5px;
  background:whitesmoke;
  position: relative;
  line-height: 30px;
  border: 1px solid azure;
}

.navbar ul li ul{

  display: none;
  position: absolute;
  top: 40px;
  left: 0;

}
/*
.navbar ul li:hover ul{
  display: block;


}
/*
.navbar ul li:hover{
  background: darkorchid;
  transition: 1s;

}

 */